.sidebar{
  width: 400px;
  height: 100vh;
  background-color: red;
  position: fixed;
  display: flex;
  overflow: hidden;
  top: 0;
  left: -430px;
  z-index: 10;
  transition: 0.5s;
}

.active{
 left: 0;
 transition: 0.5s;
}

.close{
  position: fixed;
  left: 400px;
  font-size: 30px;
}

.sidebarItem{
  width: 100%;
  padding: 15px 10px;
  background-color: rgb(255, 255, 255);
  margin: .8px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(104, 104, 104);
}

.sidebarWrapper{
  width: 100%;
  min-width: 400px;
  height: 100%;
  background-color: rgb(168, 168, 168);
}

.sidebarOpen{
  width: 100%;
  min-width: 400px;
  height: 100%;
  background-color: rgb(255, 255, 255);
  padding: 10px 20px 0 36px;
}

.link_sign{
  background-color: #232f3e;
  height: 50px;
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: center;
}

.sidebarItem:hover{
  color: rgb(0, 0, 0);
}

.to_right{
  font-size: 25px;
}

/* @media only screen and (max-width:590px) {
  .sidebar{
    width: 60;
  }
  .sidebarOpen{
    min-width: 60px;
  }
} */